body {
  padding-top: 50px;
}

h1 {
  margin-bottom: 30px;
}

.question, .answer {
  margin-bottom: 20px;
}

.question {
  font-style: italic;
}

.answer {
  background-color: #fff3cd;
  padding: 15px;
  border: 1px solid #ffeeba;
  border-radius: 5px;
}
